<div class="info">
  <% if page.path != '/' %>
    <div class="handle"></div>
  <% end %>
  <%= link_to page.title, edit_admin_page_path(page) %>
  <div class="actions">
    <!--<span><%= page.statuses.select{ |k, v| v == page.status }.flatten[0] %></span>-->
    <%= select_tag "page_status_#{page.id}",
      options_for_select(page.statuses, page.status),
      :onchange => "new Ajax.Request('#{status_admin_page_path(page)}?status=' + $F('page_status_#{page.id}'), { method: 'get' })" %>
    <%= link_to 'view page', cesium_path(page.path.to_path_params) %>
    <%= link_to 'new child', new_sub_admin_page_path(page) %>
    <%= link_to_remote 'destroy', { :url => admin_page_path(page), :method => :delete, :confirm => 'Are u shure?' } %>
  </div>
</div>
