<div class="info">
  <%= link_to page.title, edit_admin_page_path(page) %>
  <div class="actions">
    <span><%= page.statuses.select{ |k, v| v == page.status }.flatten[0] %></span>
    <%= link_to 'view page', page.path, :class => 'view_entry' %>
    <%= link_to 'new child', new_sub_admin_page_path(page), :class => 'new_entry' %>
    <%= link_to_remote 'destroy', { :url => admin_page_path(page), :method => :delete, :confirm => 'Are u shure?' }, :class => 'remove_entry' %>
  </div>
</div>
