<h1>Authorization</h1>
<% form_for @admin_session, :url => admin_admin_session_url do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="checkbox">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me%>
  </div>
  <div class="buttons">
    <%= f.submit 'Log in' %>
  </div>
<% end %>