<h1>New page part</h1>
<% form_for @page_part, :url => admin_page_page_parts_url(@page) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
<% content_for :additional_navigation do %>
<ul class="buttons">
  <li><%= link_to h(@page.title), edit_admin_page_path(@page) %></li>
  <% @page.all_parts.each do |part| %>
  <li>
<%= link_to h(part.name), edit_admin_page_page_part_path(@page, part) -%>
<%= link_to image_tag('admin/duplicate.png'), admin_page_page_part_path(@page, part) if part.additional? -%>
<%= link_to image_tag('admin/remove.png'), admin_page_page_part_path(@page, part), :method => :delete, :confirm => 'Are you sure?' %>
  </li>
  <% end %>
  <li><%= link_to "Add page part", new_admin_page_page_part_path(@page), :class => 'selected' %></li>
</ul>
<% end %>
