<h1><%= controller.controller_name.humanize %></h1>
<% if @records.empty? %>
  <p>Sorry, but there is no records in <%= controller.controller_name.humanize %></p>
<% else %>
  <table class="list_table">
  <thead>
    <tr>
    <% controller.index_fields.each do |field| -%>
      <th><%= head_for field %></th>
    <% end -%>
      <th class="actions">Actions</th>
    </tr>
    <tr>
    <% controller.index_fields.each do |field| -%>
      <th><%= filter_for field %></th>
    <% end -%>
      <th><%= reset_all_filters_link %></th>
    </tr>
  </thead>
  <tbody>
  <% @records.each do |record| -%>
    <tr>
    <% controller.index_fields.each do |field| -%>
      <td><%= render_field record, field %></td>
    <% end -%>
      <td class="actions">
        <%= link_to 'show', [:admin, record], :class => 'view_entry' %>
        <%= link_to 'edit', edit_polymorphic_path([:admin, record]), :class => 'edit_entry' %>
        <%= link_to 'destroy', [:admin, record], :confirm => "Are you sure?", :method => :delete, :class => 'remove_entry' %>
      </td>
    </tr>
  <% end -%>
  </tbody>
  </table>
  <% end %>
  <% if respond_to? :will_paginate %>
    <%= will_paginate @records %>
<% end %>

<% content_for :additional_navigation do %>
  <ul class="buttons">
    <li><%= link_to "New #{controller.model_name.humanize.downcase}", new_polymorphic_path([:admin, controller.model.new]) %></li>
  </ul>
<% end %>
