<h1>Show <%= controller.model_name.humanize.downcase %></h1>
<ul class="show_entry">
<% controller.show_fields.each do |field| -%>
  <li>
    <h2><%= field.to_s.humanize %></h2>
    <div>
      <%= controller.helpers.respond_to?("show_#{field}") ? controller.helpers.send("show_#{field}", @record.send(field)) : h(@record.send(field)) %>
    </div>
  </li>
<% end -%>
</ul>
<% content_for :additional_navigation do %>
  <ul class="buttons">
    <li><%= link_to "Edit #{controller.model_name.humanize.downcase}", edit_polymorphic_path([:admin, @record]) %></li>
    <li><%= link_to "Destroy #{controller.model_name.humanize.downcase}", [:admin, @record], :method => :delete, :confirm => "Are you sure?" %></li>
  </ul>
<% end %>
